.icon {
    color: var(--icon-color);
    margin-right: 20px;
    width: 18px;
}
.info, 
.contacts, 
.skills {
    padding: 10% 15%;
}
.hero-img {
    max-width: 100%;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}
.rectangle {
    background-color: orange;
    width: 36%;
    height: 340px;
    position: absolute;
}
.rectangle-right {
    width: 137%;
    height: 340px;
    background-color: #f7f7f7;
    right: 0;
    position: absolute;
}
.col-left,
.col-right
{
    position: relative;
}
.profile,
.education,
.work {
    position: relative;
}
.title::after {
    display: block;
    content: '';
    width: 90%;
    height: 1px;
    background-color: orange;
    margin-top: 8px;
    margin-bottom: 25px;
}
.phone,
.email,
.address {
    height: 25px;
    align-items: center;
}
.skill-items {
    list-style-type: disc;
    margin-left: 18px;
}
.skill-items li {
    line-height: 30px;
}
li::marker {
    color: orange;
}
.orange {
    color: orange;
}
.info h2 {
    margin-top: 10px;
    margin-left: -6px;
}
