.container {
    max-width: 1140px;
    margin: 0 auto;
    border: 1px solid #000;
    display: flex;
}
.col-4 {
    width: 40%;
    border: 1px solid #000;
}
.col-8{
    width: 60%;
    border: 1px solid #000;
}
